$primary-color: black;
$secondary-color: white;
$tertiary-color: rgba(255, 12, 12, 0.91);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

%display {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}
